[submodule "php"]
	path = php
	url = git@github.com:CRICDatabase/searchable-image-database-php.git
	ignore = untracked
[submodule "nodejs"]
	path = nodejs
	url = git@github.com:CRICDatabase/searchable-image-database-nodejs.git
	ignore = untracked
